DB_DRIVER=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=messenger_db
DB_SSLMODE=disable
MIGRATIONS_DIR=./migrations

HTTP_PORT=8080

JWT_SECRET=dev-secret-change-me
JWT_TTL=15m
